/****************************************************
        media css
*****************************************************/
@media (max-width: 1500px) {
    .nav-tabs-style2 li a {margin: 0 15px;}
}
@media (max-width: 1383px) {
    /*  navigation  */
    .sub-menu ul { right: -25px; z-index: 99; }
}
 
@media (min-width: 992px) and (max-width: 1199px) {
    /*  typography  */
    .md-full-width { width: 100% !important;}
    .md-display-block { display: block !important}
    .md-no-padding-bottom { padding-bottom: 0 !important}

    /*  grid figcaption   */
    .md-bottom-10 { bottom: 10px !important;}
    
    /* heading */
    .subheader { padding: 0 15px; }
    
}
@media (max-width: 1199px) {
    
    /*  text center  */
    .md-text-center { text-align: center !important;}
    
    /*  display  */
    .md-display-none { display: none !important}
    
    /*  margin  */
    .md-margin-two-bottom { margin-bottom: 2% !important; }
    .md-margin-three-bottom { margin-bottom: 3% !important; }
    .md-margin-four-bottom { margin-bottom: 4% !important; }
    .md-margin-five-bottom { margin-bottom: 5% !important; }
    .md-margin-ten-bottom { margin-bottom: 10% !important; }
    
    /*  padding  */
    .md-padding-five {padding: 5% !important}
    
    /* footer */
    footer ul.list-inline li:first-child { padding-left: 5px;}
    .list-inline li { padding: 0 17px; }

 
    
    /* menu */
    .nav > li { margin-right: 17px; margin-left: 17px}
  
    
    /* icon tab */
    .nav-tabs > li { margin-left: 0; margin-right: 0;}
    
}
@media (max-width: 1064px) {
    /*  parallax  */
    .parallax-fix{ background-attachment: scroll !important; }
}
/******* Only for iPad Css *******/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* for general iPad layouts */
    .navbar-nav > li > a { border-color: transparent !important; }
    .navbar-nav > li > a.active { border-color: black !important;  }
}
@media (max-width: 1024px) {
    /*  navigation position  */
    .navbar-right .dropdown-menu { right: -147px; }
}
@media (max-width: 991px) {
    /*  navigation panel  */
    nav .accordion-menu * { transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; }
    .panel { position: relative; }
    .panel-title > a.collapsed:after { content: '+'; position: absolute; right: 24px; }
    .panel-title > a:after { content: '-'; position: absolute; right: 24px; }
    .open .collapse { display: none; }
    .open .collapse.in { display: block; }
    .collapse.in { width: 100%; clear: both;}

    /*  navigation  */
    nav.navbar .container { position: relative; }
    .navbar .accordion-menu { background-color: rgba(27, 22, 28, 0.95); 
		clear: both; min-height: 0 !important; position: absolute; top: 76px; width: 100%; padding: 0; }
    .nav-dark-transparent .dropdown-menu { background-color: transparent; }

    /*  sticky navigation */
    .shrink-nav .accordion-menu { top: 56px; }
    .static-sticky .accordion-menu { top: 90px; }
    .sticky-nav .nav > li { float: left; width: 100% !important; margin: 0 !important; border-top: 1px solid rgba(255, 255, 255, 0.06) !important; }
    .sticky-nav .nav > li:last-child { border-bottom: 1px solid rgba(255, 255, 255, 0.06); }
	

	
    .sticky-nav ul li a:hover i { color: #fff; border-color: #e6af2a; }
	
	
    .sticky-nav .navbar-nav > li > a { font-weight: 700; }
    .sticky-nav .navbar-nav > li > a i { display: inline-block; float: right; margin: 9px 10px 0 0; font-size: 14px; 
		color: #fff; width: 20px; height: 20px; vertical-align: middle; padding: 0 0 0 4.2px; line-height: 20px; } 
    .sticky-nav .navbar-nav > li > .dropdown-menu, 
    .shrink-nav .dropdown.simple-dropdown .dropdown-menu { border-top: 1px solid rgba(255, 255, 255, 0.06); left: 0; 
		top: inherit !important; width: 100% !important; transform: translateX(0); -webkit-transform: translateX(0); 
		-moz-transform: translateX(0); -o-transform: translateX(0); }
    .shrink-nav .nav > li { margin: 16px 15px; }
    .nav-white.shrink-nav .navbar-nav li a { color: #fff; }


    .navbar .text-right 
	{ 
		background-color: rgba(0, 0, 0, 0.95); 
		clear: both; 
		min-height: 0; 
		padding: 0;  
		position: absolute; 
		top: 80px; 
		width: 100%; 
	}
    .navbar.shrink-nav .text-right 
	{ 
		top: 56px; 
	}
    .static-sticky .text-right 
	{ 
		top: 90px !important;
	}
	
    .navbar-nav li a.priority-btn
    {
    	border:2px solid transparent;
    	padding-left:0;
    		padding-right:0;
    }
    .navbar-nav li a.priority-btn:hover
    {
    	border:2px solid transparent;
    }

    .dropdown-menu:last-child ul li:last-child { border-bottom: 0; }
    .dropdown-menu li a { color: inherit; height: 34px !important; line-height: 34px !important; padding: 0 !important; text-align: left; }
	
	
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus, 
    .navbar-nav > li > a { border-bottom: 0 !important;}
	
	
    .navbar-default .navbar-nav > li > a 
	{ 
		color: #fff; 
		display: block; 
		height: 38px; 
		line-height: 38px; 
		padding: 0 0 0 15px; 
		text-align: left;
	 }
	
	
	.navbar-default .navbar-nav > li > a:hover
	{
		color:#fff;
		background:#8ec63f;
	}
  
    .dropdown-header { margin: 0;}
    .navbar-collapse.in { overflow-x: hidden; }
    .navbar-default .col-sm-3 { float: left; }


    .navbar-toggle {border-radius: 0px;}
    .navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
    .navbar-default .navbar-toggle { background-color: #000;}

    .dropdown-toggle.collapsed .fa-angle-down::before { content:"\f107"; }
    .dropdown-toggle .fa-angle-down::before { content:"\f106"; }
    
   
 
    /*  custom  */
  
    
    .section-title { padding-bottom: 90px; }
    .sm-pull-left { float: left !important; }
    .sm-pull-right { float: right !important; }
    .sm-no-margin { margin: 0 auto !important; }
    .sm-no-margin-top { margin-top: 0 !important; }
    .sm-no-margin-bottom { margin-bottom: 0 !important; }
    .sm-margin-five { margin: 5% 0 !important; }
    .sm-margin-eight { margin: 8% 0 !important; }
    .sm-margin-bottom-one { margin-bottom: 1% !important }
    .sm-margin-bottom-two { margin-bottom: 2% !important }
    .sm-margin-bottom-three { margin-bottom: 3% !important }
    .sm-margin-bottom-four { margin-bottom: 4% !important }
    .sm-margin-bottom-five { margin-bottom: 5% !important }
    .sm-margin-bottom-six { margin-bottom: 6% !important }
    .sm-margin-bottom-seven { margin-bottom: 7% !important }
    .sm-margin-bottom-eight { margin-bottom: 8% !important }
    .sm-margin-bottom-nine { margin-bottom: 9% !important }
    .sm-margin-bottom-ten { margin-bottom: 10% !important }
    .sm-margin-bottom-eleven { margin-bottom: 11% !important }
    .sm-margin-bottom-twelve { margin-bottom: 12% !important }
    .sm-margin-top-one { margin-top: 1% !important }
    .sm-margin-top-two { margin-top: 2% !important }
    .sm-margin-top-three { margin-top: 3% !important }
    .sm-margin-top-four { margin-top: 4% !important }
    .sm-margin-top-five { margin-top: 5% !important }
    .sm-margin-top-six { margin-top: 6% !important }
    .sm-margin-top-seven { margin-top: 7% !important }
    .sm-margin-top-eight { margin-top: 8% !important }
    .sm-margin-top-nine { margin-top: 9% !important }
    .sm-margin-top-ten { margin-top: 10% !important }
    .sm-margin-top-eleven { margin-top: 11% !important }
    .sm-margin-top-twelve { margin-top: 12% !important }
    .sm-margin-right-one { margin-right:1% !important }
    .sm-no-margin-right { margin-right: 0 !important;}
    .sm-no-margin-left { margin-left: 0 !important; }
    .sm-padding-bottom-six { padding-bottom: 6% !important; }
    .sm-no-padding { padding: 0 !important; }
    .sm-no-padding-right { padding-right: 0 !important; }
    .sm-no-padding-left { padding-left: 0 !important; }
    .sm-padding-top-six { padding-top: 6% !important }
    .sm-padding-top-nine { padding-top: 9% !important; }
    .sm-padding-bottom-nine { padding-bottom: 9% !important; }
    .sm-display-none { display:none !important}
    .sm-display-table { display:table !important}
    .sm-text-center { text-align: center !important;}
    .sm-border { border: 1px solid rgba(0, 0, 0, 0.075) !important; }
    .sm-no-border-right { border-right: 0 !important; }
    .sm-margin-lr-four { margin-left: 4% !important; margin-right: 4% !important;}
    .sm-background-image-right { background-position: center right !important;}
    .sm-pull-none { float: none !important}
    .sm-width-100 { width:100% !important}



  
    /* parallax */
    .fix-background { background-attachment: inherit !important; }

}


@media (max-width: 768px) {

    .nav > li {width: auto;}
    .nav-tabs > li.active > a { margin-bottom: 0px; }
    .nav-tabs > li > a:hover { margin-bottom: 0px; vertical-align: top;}
}


@media (max-width: 767px) {


    section { padding: 50px 0; }
	
	
    .xs-onepage-section { padding: 100px 0 !important; }
    .xs-pull-left { float: left !important; }
    .xs-pull-none { float: none !important; }
    .first-child { padding-top: 0; }
    .last-child { padding-bottom: 0; }
    .margin-top-section { margin-top: 50px; }
    .xs-indicators-black .active { background-color: #000; border: 2px solid rgba(0, 0, 0, 1); }
    .xs-indicators-black li { border: 2px solid rgba(0, 0, 0, 1);}
    .xs-no-margin { margin: 0 auto !important; }
    .xs-no-margin-top { margin-top: 0 !important; }
    .xs-margin-bottom-one { margin-bottom: 1% !important }
    .xs-margin-bottom-two { margin-bottom: 2% !important }
    .xs-margin-bottom-three { margin-bottom: 3% !important }
    .xs-margin-bottom-four { margin-bottom: 4% !important }
    .xs-margin-bottom-five { margin-bottom: 5% !important }
    .xs-margin-bottom-six { margin-bottom: 6% !important }
    .xs-margin-bottom-seven { margin-bottom: 7% !important }
    .xs-margin-bottom-eight { margin-bottom: 8% !important }
    .xs-margin-bottom-nine { margin-bottom: 9% !important }
    .xs-margin-bottom-ten { margin-bottom: 10% !important }
    .xs-margin-bottom-eleven { margin-bottom: 11% !important }
    .xs-margin-bottom-twelve { margin-bottom: 12% !important }
    .xs-margin-bottom-thirteen { margin-bottom: 13% !important }
    .xs-margin-bottom-thirtyfive { margin-bottom: 35% !important }
    .xs-margin-top-one { margin-top: 1% !important }
    .xs-margin-top-two { margin-top: 2% !important }
    .xs-margin-top-three { margin-top: 3% !important }
    .xs-margin-top-four { margin-top: 4% !important }
    .xs-margin-top-five { margin-top: 5% !important }
    .xs-margin-top-six { margin-top: 6% !important }
    .xs-margin-top-seven { margin-top: 7% !important }
    .xs-margin-top-eight { margin-top: 8% !important }
    .xs-margin-top-nine { margin-top: 9% !important }
    .xs-margin-top-ten { margin-top: 10% !important }
    .xs-margin-top-eleven { margin-top: 11% !important }
    .xs-margin-top-twelve { margin-top: 12% !important }
    .xs-margin-top-thirteen { margin-top: 13% !important }
    .xs-no-margin-right { margin-right: 0 !important }
    .xs-no-margin-left { margin-left: 0 !important; }
    .xs-no-margin-lr { margin-left: 0 !important; margin-right: 0 !important}
    .xs-no-margin-lr-auto { margin-left: auto !important; margin-right: auto !important}
    .xs-no-margin-bottom { margin-bottom: 0 !important }
    .xs-padding-bottom-six { padding-bottom: 6% !important; }
    .xs-padding-bottom-fifteen { padding-bottom: 15% !important; }
    .xs-padding-top-six { padding-top: 6% !important }
    .xs-padding-left-right-two { padding: 0 2% !important; }
    .xs-display-none { display: none !important}
    .xs-padding-seven { padding: 6% 0}
    .xs-no-padding { padding: 0 !important; }
    .xs-no-padding-left { padding-left: 0 !important; }
    .xs-no-padding-right { padding-right: 0 !important; }
    .xs-no-padding-lr { padding-left: 0 !important; padding-right: 0 !important; }
    .xs-no-padding-top { padding-top:0 !important}
    .xs-no-padding-bottom { padding-bottom: 0 !important; }
    .xs-no-padding-left-right { padding-left: 0 !important; padding-right: 0 !important}
    .xs-padding-right { padding-right: 15px !important;}
    .xs-padding-left { padding-left: 15px !important;}
    .xs-text-center { text-align: center !important;}
    .xs-no-border { border: 0 !important; }
    .xs-no-background { background: none !important; }
    .xs-no-float { float: none !important; }
    .xs-display-block { display: block !important; }
    .xs-display-inherit { display: inherit !important; }
    .xs-text-left { text-align: left !important; }
    .width-70 { width: 100% !important; }
    .xs-width-100 { width: 100% !important; }
    .xs-img-full { width: 100%;}
    .xs-padding-tb-ten { padding-bottom: 10% !important; padding-top: 10% !important; }
    .xs-width-100 { width: 100% !important}
    .xs-letter-spacing-6 { letter-spacing: 6px !important}
    .xs-center-col { float: none !important; margin-left: auto !important; margin-right: auto !important;}
    .xs-padding-eight { padding: 8%; }
    .xs-position-inherit { position: inherit !important;}
    .xs-line-height-18 { line-height: 18px !important;}
    .xs-overflow-auto{ overflow: auto !important}
    

    
    /* typography */
    blockquote { padding: 10px 20px; font-size: 18px; font-weight: 100; line-height: 26px;}
    
   
    
    /*  static sticky  */
    .static-sticky { height: 55px !important;}
    .static-sticky .container { height: 55px !important; }
    .static-sticky .text-right { top: 56px !important;}
    

    
}

@media (max-width: 640px) {
    .table-scroll { overflow: hidden; overflow-x: scroll;}
}
@media (max-width: 589px) {   
    /* typography */
    .xs-letter-spacing-2 { letter-spacing: 2px !important; }
    .xs-min-height-inherit { min-height: inherit !important; }
}

@media (max-width: 480px) {
    /*  navigation  */
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 394px; }

    /*  custom  */
    .scrollToTop { display: none !important; }

    /*  slider typography    */
    .slider-title-big4 { font-size: 20px; margin-bottom: 10px; }
    .slider-title-big3 { font-size: 14px; line-height: 22px; padding: 15px; margin-top: 10px; letter-spacing: 4px; }
    .slider-subtitle3 { font-size: 13px; line-height: 22px; letter-spacing: 4px; }
    .slider-subtitle2 { font-size: 22px; line-height: 30px; }
    .slider-subtitle5 { font-size: 20px; margin-bottom: 15px;}
    .slider-subtitle4 { margin-bottom: 5px; }
    .slider-number { margin-bottom: 30px; }
    .slider-title-big5 { margin-bottom: 15px; width: 85%; }

 

    /****************************************************
        typography
    ****************************************************/
    .xs-letter-spacing-none { letter-spacing: 0 !important; }
    .line-height-18 { line-height: 18px !important;}
 
}
@media (max-width: 420px) {   
    /*  typography    */
    .title-med { font-size: 22px !important; line-height: 30px !important; }
    .subheader { padding: 10px 15px; }
    .spa-slider h1 { font-size: 35px; line-height: 75px; }
}


/*  only mobile devices landscape view  */
@media screen and (max-width: 320px) , screen and (max-height: 480px) {
    .navbar-fixed-top .navbar-collapse, 
    .navbar-fixed-bottom .navbar-collapse { max-height: 275px !important; }
}
@media (max-width: 320px) {
    h1 { font-size: 26px; line-height: 32px; }

    .slider-text-bottom { vertical-align: middle; }
}




/*----start-responsive-design----*/
@media only screen and (max-width:1440px) and (min-width:1366px){	
}
@media only screen and (max-width:1366px) and (min-width:1280px){	
}
@media only screen and (max-width:1280px) and (min-width:1024px){
}
@media only screen and (max-width:1024px) and (min-width:768px){
}
@media only screen and (max-width:768px) and (min-width:640px){
	.landing-title 
	{
		font-size: 3em;
	}
}
@media only screen and (max-width:640px) and (min-width:480px){
	.landing-title 
	{
		font-size: 3em;
	}
	.play-icon { 
		margin-bottom:2em;
	}
	.hero-subtitle
	{
		padding-bottom:1em;
		padding-left:1em;
		padding-right:1em;
	}
	.title-wrapper h2
	{
		font-size:2.2em; 
	}
	.pro-wrapper
	{
		width:60%;
		float:none;
		padding:0 0 2em 0;
		margin:0 20%;
		display:table;
		table-layout:fixed;
	}
	.pro-wrapper#four-col-first
	{
		margin-left:20%;
	}

	.pro-wrapper#two-col-first
	{
		margin-left:20%;
	}
	.pro-row
	{
		width:100%;
		margin:0 0 0 0;
	}
	.pro-img-wrap
	{
		padding:0 0;
		width:40%;
		padding-right:2em;
			display:table-cell;
			vertical-align:middle;
	}
	
	h3.pro-img-label
	{
		text-align:left;
		text-transform:none;
		margin:0 0 0 0;
		color:#40a585;
		font-size:1.35em;
			display:table-cell;
			vertical-align:middle;
	}
	#workflow .title-wrapper
	{
		margin:200px auto 0 auto;
	}
	.support-links li
	{
		white-space: nowrap;
	}
	.footer-social ul li
	{
		display:inline-block;
		margin:0 0.5em;	
	}	
	.support-links li
	{
		display:inline;
		margin:0 0.5em;	
	}
}
@media only screen and (max-width:480px) and (min-width:320px){
	.landing-title 
	{
		font-size: 2em;
		padding-left:1em;
		padding-right:1em;
	}
	.play-icon { 
		margin-bottom:2em;
	}
	
	.hero-subtitle
	{
		padding-top:1em;
		padding-bottom:1em;
		padding-right:1em;
		padding-left:1em;
		line-height:1.6;
	}
	.title-wrapper h2
	{
		font-size:1.75em; 
	}
	.pro-wrapper
	{
		width:70%;
		float:none;
		padding:0 0 2em 0;
		margin:0 15%;
		display:table;
		table-layout:fixed;
	}
	.pro-wrapper#four-col-first
	{
		margin-left:15%;
	}

	.pro-wrapper#two-col-first
	{
		margin-left:15%;
	}
	.pro-row
	{
		width:100%;
		margin:0 0 0 0;
	}
	.pro-img-wrap
	{
		padding:0 0;
		width:50%;
		padding-right:2em;
			display:table-cell;
			vertical-align:middle;
	}
	
	h3.pro-img-label
	{
		text-align:left;
		text-transform:none;
		margin:0 0 0 0;
		color:#40a585;
		font-size:1.25em;
			display:table-cell;
			vertical-align:middle;
	}
	#workflow .title-wrapper
	{
		margin:0px auto 0px auto;
	}
    .post-button-wrapper {
        padding: 4em 0 4em 0;
    }
	.steps-number-label
	{
		font-size:1.1em;
		font-weight:bold;
	}
	.steps-number-wrap
	{
		width:17.5%;
		text-align:center;
	}

	.steps-line
	{
		width:10%;
	}
	.support-links li
	{
		white-space: nowrap;
	}
	.footer-social ul li
	{
		display:inline-block;
		margin:0 0.5em;	
	}
	.support-links li
	{
		display:inline;
		margin:0 0.5em;	
	}
}
@media only screen and (max-width:320px) and (min-width:240px){
	.landing-title 
	{
		font-size: 2em;
		padding-left:1em;
		padding-right:1em;
	}
	.play-icon { 
		margin-bottom:2em;
	}
	.hero-subtitle
	{
		padding-top:1em;
		padding-bottom:1em;
		line-height:1.6;
		padding-right:1em;
		padding-left:1em;
	}
	.title-wrapper h2
	{
		font-size:1.75em; 
	}
	.pro-wrapper
	{
		width:80%;
		float:none;
		padding:0 0 2em 0;
		margin:0 10%;
		display:table;
		table-layout:fixed;
	}
	.pro-wrapper#four-col-first
	{
		margin-left:15%;
	}

	.pro-wrapper#two-col-first
	{
		margin-left:15%;
	}
	.pro-row
	{
		width:100%;
		margin:0 0 0 0;
	}
	.pro-img-wrap
	{
		padding:0 0;
		width:50%;
		padding-right:2em;
			display:table-cell;
			vertical-align:middle;
	}
	
	h3.pro-img-label
	{
		text-align:left;
		text-transform:none;
		margin:0 0 0 0;
		color:#40a585;
		font-size:1.25em;
			display:table-cell;
			vertical-align:middle;
	}
	#workflow .title-wrapper
	{
		margin:130px auto 0 auto;
	}
	.steps-number-label
	{
		font-size:1.1em;
		font-weight:bold;
	}
	.steps-number-wrap
	{
		width:19%;
		text-align:center;
	}

	.steps-line
	{
		width:8%;
	}
	.support-links li
	{
		white-space: nowrap;
	}
	.footer-social ul li
	{
		display:inline-block;
		margin:0 0.5em;	
	}
	.support-links li
	{
		display:inline;
		margin:0 0.5em;	
	}
}





