/ Facebook button
.btn-wrapper.btn-centered.btn-social-media.btn-facebook
  %a.btn.btn-primary.clearfix{:href=>person_omniauth_authorize_path(:facebook)}
    %i.fa.fa-facebook.fa-left{"aria-hidden" => "true"}>
    = button_text