/ LinkedIn button
.btn-wrapper.btn-centered.btn-social-media.btn-linkedin
  %a.btn.btn-primary.clearfix{:href=>person_omniauth_authorize_path(:linkedin)}
    %i.fa.fa-linkedin.fa-left{"aria-hidden" => "true"}>
    = button_text